@model List<Order>
@{
    ViewData["Title"] = "Import Pizza Orders";
}

<h1>Import Pizza Orders</h1>

<form method="post" enctype="multipart/form-data" asp-action="ImportOrders">
    <div class="form-group">
        <label for="csvFile">Select CSV file:</label>
        <input type="file" class="form-control-file" id="csvFile" name="csvFile"> <button type="submit" class="btn btn-primary">Import</button>
        <br /><br />
    </div>
   
</form>

<table class="table">
    <thead>
        <tr>
            <th>Order Id</th>
            <th>Date</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.OrderId</td>
                <td>@product.Date</td>
                <td>@product.Time</td>
            </tr>
        }
    </tbody>
</table>